<form ng-submit="addPlatform()">

 
  <input name="platName" type="text" ng-model="platform.title" placeholder="Name" required></input>
  <textarea name="platDesc" ng-model="platform.description"  placeholder="Description"></textarea>
  
  <input id="addPlatform" type="submit" class="btn btn-success" value="Add"/>

</form>
