<form ng-submit="addPlatform()">

 
  <input type="text" ng-model="platform.title" placeholder="Name" required></input>
  <textarea ng-model="platform.description"  placeholder="Description"></textarea>
  
  <input type="submit" class="btn btn-success" value="Add"/>

</form>
