<form ng-submit="addPublisher()">

  <p>Name</p>
  <input name="pubName" type="text" ng-model="publisher.name" required></input>
  
  <button id="addPub" onClick="addPublisher()" class="btn btn-success">Add</button>

</form>
