<h1 class="title">Games</h1>

<div ng-app="gameApp" ng-controller="gameController">

<input class="searchbox" ng-model="keywords" placeholder="Enter keywords">

<% if current_user && current_user.isAdmin %>
  <a href="games/new"><button  id="newGame" class="btn btn-danger btn-lg">Add game</button></a>
<% end %>

<table id="games" class="table table-hover">
  <thead>
  <tr>
   <th>Name</th>
   <th>Publisher</th>
 
  </tr>
  </thead> 
  <tr ng-repeat="game in games | filter:keywords">
    <td><a href='games/{{game.id}}' target="_self">{{game.name}}</a></td>
    <td>{{game.publisher.name}}</td>
    <% if current_user && current_user.isAdmin %>
      <td><a data-confirm="Are you sure?" data-method="delete" ng-href='games/{{game.id}}' target="_self"><button class="btn btn-danger">Delete</button></a></td>
    <% end %>
  </tr>
</table>  

</div>



