<p id="notice"><%= notice %></p>
<div ng-app="gameApp" ng-controller="gameController">

  <div style=display:none;>
    <p id="gameId"> <%= @game.id%></p>
  </div>

<div ng-app="gameApp" ng-controller="singleGameController">
  <h2 class="title">{{game.name}} </h2>




<h4 ><strong>Publisher:</strong></h4>
  {{game.publisher.name}}

<h4><strong>Platforms:</strong></h4>
<ul id="platList" class="list-group">
  <li  class="list-group-item" ng-repeat="platform in platforms">{{platform.title}}</li>
</ul>

<h3><i>{{avgScore}}</i></h3>

<h2 class="title">Reviews for {{game.name}}</h2>

<table id="gameReviews" class="table table-hover">
  <thead>
  <tr>
   <th>
        <button class="btn btn-danger btn-xs" ng-click="sortBy('title')">Title</button>
        <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
  </th>
   <th>
        <button class="btn btn-danger btn-xs" ng-click="sortBy('score')">Score</button>
        <span class="sortorder" ng-show="propertyName === 'score'" ng-class="{reverse: reverse}"></span>
   </th>
   <th>
        <button class="btn btn-danger btn-xs" ng-click="sortBy('user.username')">Made by</button>
        <span class="sortorder" ng-show="propertyName === 'user.username'" ng-class="{reverse: reverse}"></span>
   </th>
  </tr>
  </thead> 
  <tr ng-repeat="review in game.reviews | filter:keywords | orderBy:propertyName:reverse | limitTo: 30">
    <td><a ng-href='/reviews/{{review.id}}' target="_self">{{review.title}}</a></td>
    <td>{{review.score}}/10</td>
    <td>{{review.user.username}}</td>
    <% if current_user && current_user.isAdmin %>
    <td><a data-confirm="Are you sure?" data-method="delete" ng-href='reviews/{{review.id}}' target="_self"><button class="btn btn-danger">Delete</button></a></td>
    <% end %>
  </tr>
</table>   

<% if current_user%>

<h3><button id="reviewButton" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Review this game</button></h3>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Review this game</h4>
      </div>
      <div class="modal-body">
        <%= render 'reviewForm' %>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

 
<% else %>
  <%= link_to 'Log in or sign up to review this game', '/signin' %>
<% end %>

</div>

</div>