<ul class="list-group" >
   <li class="list-group-item" ng-repeat="comment in review.comments">
      <div class="container">
        <div class="dialogbox">
         <div class="body">
         <h5>{{comment.user.username}}</h5> <span>{{comment.created_at}}</span></br>
            <div class="message">
            
        <span>{{comment.content}}</span>
      </div>
    </div>
  </div>
   </li> 
</ul>