<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<div ng-app="reviewApp" ng-controller="ReviewController">
  <table id="reviews" class="table table-hover">
  <thead>
  <tr>
   <th>Title</th>
   <th>Game</th>
   <th>Score</th>
  </tr>
  </thead> 
  <tr ng-repeat="review in reviews | filter:keywords">
    <td><a ng-href='reviews/{{review.id}}' target="_self">{{review.title}}</a></td>
    <td>{{review.game.name}} </td>
    <td>{{review.score}}/10</td>
  </tr>
</table> 
</div>


