<p id="notice"><%= notice %></p>

<div style=display:none;>
  <p id="reviewId"> <%= @review.id%></p>
</div>

<div ng-app="reviewApp" ng-controller="SingleReviewController">
  <h3>{{review.title}}</h3>

  <p>{{review.score}}</p>
  <p>{{review.content}}</p>
</div>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
