<p id="notice"><%= notice %></p>

<div style=display:none;>
  <p id="reviewId"> <%= @review.id%></p>
  <%if current_user%>
  <p id="userId"> <%= current_user.id %></p>
  <%else %>
    <p id="userId"> 0</p>
  <% end %>
</div>


<div ng-app="reviewApp" ng-controller="SingleReviewController">
  <div class="col-lg-8">
  <h2 class="title">{{review.title}}</h2>

  <h1 id="score">{{review.score}}/10</h1>
  <p id="content">{{review.content}}</p>
  

  <h2 id="toggleComment" ng-click="formVisible = !formVisible"><button class="btn btn-danger btn-lg">Show comments</button></h2>
  <div id="commentList">
  <div  ng-show="formVisible" >
  <% if current_user%>
    <form id="postComment" ng-submit="submitComment()">
     <textarea id="commentArea" rows="3" cols="40"  ng-model="comment.content" placeholder="Write your comment here"></textarea>
      <input type="submit" class="btn btn-success"/>
    </form>
   <% end %>
    <%= render 'comment_list'%>
    
       
  </div>
  
  </div>
  

</div>



